<div class="container">
    
  <div class="row">
		<div id="documents"><%= render 'documents/list' %></div>
  </div>
  <div class="row">
		<%= render partial: "documents/new", object: @document, as: 'document' %>
  </div>
  <div class="row">
    
</div>
</div>