<div class="page-header">
  <%= link_to menus_path, class: 'btn .btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to @menu, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Exibir
  <% end %>
  <h1>Editando Menu</h1>
</div>

<%= render 'form' %>
