<div class="container">
    
  <div class="row">
		<div id="documents"><%= render 'documents/list' %></div>
  </div>
  <div class="row">
		<%= render partial: "documents/new", object: @document, as: 'documentacao' %>
  </div>
  <div class="row">
    
</div>
</div>



<script>
// $(document).ready(function(){
//     var preview = $(".upload-preview img");
//     $("#alert_size").hide();
//     $(".upload-files").change(function(event){
//         $("#alert_size").hide();
//       var input = $(event.currentTarget);
//       var file = input[0].files[0];
//       var size = file.size;
//       console.log(size);
//       if(size < 1000000){
         
//         var reader = new FileReader();
//         reader.onload = function(e){
//             image_base64 = e.target.result;
//             preview.attr("src", image_base64);
//         };
//         reader.readAsDataURL(file);
//       }
//       else{
//         $("#alert_size").show();
          
//         console.log("Arquivo Grande");
//       }
//     });
   
// });
 



</script>