<div class="container">
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="blocks">
              <div class="block-header">
                  <h4>BASICO</h4>
              </div>
              <div class="block-container">
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>1GB Disk Space</p>
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>Unlimited Bandwidth</p>
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>5 Email Address</p>
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>24 Hours Support</p>
                  <p><span class="glyphicon glyphicon-remove" data-unicode="e013" style="color:red;"> </span>No Sub-Domains</p>
                  <p><span class="glyphicon glyphicon-remove" data-unicode="e013" style="color:red;"> </span>No Free Domains</p>
                  <p class="price"><i style="font-size: 40px;">$</i>15<sub><small class="renew-price">Per/Yr</small></sub></p>
              </div>
              <div class="block-footer">
                  <a class="order-now" href="#">Escolher</a>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="blocks active-block">
              <div class="block-header">
                  <h4>PROFISSIONAL</h4>
              </div>
              <div class="block-container">
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>5GB Disk Space</p>
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>Unlimited Bandwidth</p>
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>15 Email Address</p>
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>24 Hours Support</p>
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>15 Sub-Domains</p>
                  <p><span class="glyphicon glyphicon-ok" data-unicode="e013" style="color:#45BA76;"> </span>1 Free Domains</p>
                  <p class="price"><i style="font-size: 40px;">$</i>35<sub><small class="renew-price">Per/Yr</small></sub></p>
              </div>
              <div class="block-footer">
                  <a class="order-now" href="#">Escolher</a>
              </div>
          </div>
      </div>
 </div>