<div class="col-lg-3 centered blog-content">
	
	
	<%= link_to image_tag(avatar_url(user),{class: 'img img-circle', height: '120px', width: '120px'}), user_path(user) %>
	<br>
	<h4><b><%= user.fullname %></b></h4>
	<i class="fa fa-user"></i> 
	<p><%= user.description %></p>
	
</div>