<div class="col-lg-3 centered">
	<img class="img img-circle" src=<%= user.image %> alt="" height="120px" width="120px">
	
	
	<%= link_to 'Exibir', user %>
	
	<br>
	<h4><b><%= user.fullname %></b></h4>
	<a href="#" class="icon icon-twitter"></a>
	<a href="#" class="icon icon-facebook"></a>
	<a href="#" class="icon icon-flickr"></a>
	<p><%= user.description %></p>
	
</div>