<div class="col-md-4 select">
	<div class="form-group">
		<label>Tipo de Evento</label>
		<%= f.select :home_type, [["Jantar","Jantar"], ["Formatura","Formatura"], ["Casamento","Casamento"]], id: "home_type", prompt: "Escolha...", class: "form-control" %>
	</div>
</div>