<div id="footerwrap">
	
	<div class = 'row'>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<h4>Criado por <a href="http://www.alaussa.com">Alaussa </a> - Copyright 2016</h4>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<h4>b103</h4>
		</div>
	</div>	
	
</div>