<div class="grid mask">
		<figure>
		    <%= link_to image_tag(menu.documents[0].image,{class: 'img-responsive'}), menu_path(menu) %>
			
			
			<figcaption>
				<h5><%= menu.title %></h5>
				
				
			</figcaption><!-- /figcaption -->
		</figure><!-- /figure -->
	</div><!-- /grid-mask -->