<div class="col-lg-6 blog-bg">
	<div class="col-lg-4 centered">
	<br>
		<p><%= image_tag(user.image,{class: 'img img-circle', height: '60px', width: '60px'}) %></p>
			
		<h4><%= user.fullname %></h4>
		<h5><%= user.email %></h5>
	</div>
	<div class="col-lg-8 blog-content">
		<h2>Características do Chef</h2>
		
		<p><%= user.description %></p>
		<p><a href="#" class="icon icon-link">Veja os Menus</a></p>
		<br>
	</div>
</div>