<div id="headerwrap" name="home">
	<header class="clearfix">
  	 		<h1><span class="icon icon-shield"></span></h1>
  	 		<p>Um chef na sua casa.</p>
  	 		<p>Exclusivo pra você e seus convidados</p>
  	</header>	    
</div>