

<div class="row">

	<div class="col-md-4 col-sm-12">
	
    	<div class="grid mask">
			<figure>
				<%= image_tag "italiana.png" , :class => "img-responsive"%>
			
				<figcaption>
					<h5>ITALIANA</h5>
					<a data-toggle="modal" href="/search?utf8=%E2%9C%93&search=italiana" class="btn btn-primary btn-lg">Buscar</a>
				</figcaption><!-- /figcaption -->
			</figure><!-- /figure -->
    	</div><!-- /grid-mask -->
	</div>
	

	<div class="col-md-4 col-sm-12">
	
    	<div class="grid mask">
			<figure>
				<%= image_tag "alema.png" , :class => "img-responsive"%>
				
				<figcaption>
					<h5>ALEMÃ</h5>
					<a data-toggle="modal" href="/search?utf8=%E2%9C%93&search=alema" class="btn btn-primary btn-lg">Buscar</a>
				</figcaption><!-- /figcaption -->
			</figure><!-- /figure -->
    	</div><!-- /grid-mask -->
	</div>

	<div class="col-md-4 col-sm-12">
		
    	<div class="grid mask">
			<figure>
				<%= image_tag "francesa.jpg" , :class => "img-responsive"%>
				
				<figcaption>
					<h5>FRANCESA</h5>
					<a data-toggle="modal" href="/search?utf8=%E2%9C%93&search=francesa" class="btn btn-primary btn-lg">Buscar</a>
				</figcaption><!-- /figcaption -->
			</figure><!-- /figure -->
    	</div><!-- /grid-mask -->
	</div>
</div>