<div class="text-center">
	<h2>Nesse fim de semana</h2>
	<p>Descobra novos sabores. Em casa</p>
</div>

<br>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<a href="/search?utf8=%E2%9C%93&search=recife">
			<div class="discovery-card" style="background-image: url('/assets/italiana.png')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Italiana</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="/search?utf8=%E2%9C%93&search=london">
			<div class="discovery-card" style="background-image: url('/assets/francesa.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Francesa</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="/search?utf8=%E2%9C%93&search=berlin">
			<div class="discovery-card" style="background-image: url('/assets/alema.png')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Alemã</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>