<section  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Trabalhe agora mesmo com a gente!!!</h2>
                <hr class="light">
                <p class="text-faded">Cadastre-se agora no Chef-Made, pra começar a ganhar dinheiro trabalhando em eventos de culinária em todo o Brasil</p>
                <a href="#services" class="btn btn-primary">Cadastre-se!</a>
            </div>
        </div>
    </div>
</section>