	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Seus Locais de Eventos", menus_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Suas Reservas", your_reservations_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Seus Eventos Reservados ", your_trips_path, class: "sidebar-link" %></li>
		</ul>
	</div>