<p>Oi <%= @resource.email %>!</p>

<p>Parece que você perdeu ou esqueceu sua senha. Pois clica nesse link aqui embaixo e cria uma nova</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Bem, se você não solicitou esse email, pedimos desculpas.</p>
<p>Mas se pediu, sua senha só poderá ser alterada através desse link.</p>
<p>Grato, Equipe Chef-Made</p>