<p>Poxa <%= @resource.email %>!</p>

<p>Infelizmente sua conta foi bloqueada devido ao número excessivo de tentativa de acessar o Chef-Made. </p>


<p>Mas não se preocupe. Clica no link abaixo e desbloqueia ela agora mesmo:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>


